/*custom font*/
  .font-hand{
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Courgette', cursive;
  }
  /* untuk tulisan "kecamatanbatu.batukota.go.id
  Website Resmi Pemerintah Kecamatan Batu" */
  .text-shadow{
    text-shadow: 4px 4px 4px #111;
  }

/*agar bisa menumpuk diatas carousel*/
.main-text{
    position: absolute;
    top: 3%;
    width: 100%;
    color: #FFF;
}
/* agar ikon ada backgroundnya*/
.icon-background{
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    min-width: 88px;
    min-height: 88px;
}
.text-color{
    color: #222;
}
/*efek hover*/
.efc-clear
{
    color: #FFF;
    background-color: rgba(255,255,255,0.3);
    border-color: transparent;
    margin-right: 15px;
}
.efc-clear:hover
{
    color: #000;
    background-color: rgba(255,255,255,0.5);
}
.txt-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: transparent;
    margin-right: 15px;
}
.txt-clear:hover
{
    color: #FFF;
    background-color: transparent;
}
.efc-shadow:focus{
  box-shadow: none;
}

.dropdown-menu{
    background-color: rgba(255,255,255,0);
    border: none;
}
.dropdown-item{
    background-color: rgba(0,0,0,1);
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(255,255,255,0.3);
}
.dropdown-item-atribute{
		border-bottom: 1px solid grey;
	}
/*hilangkan segitiga  dibawah dropdown*/
.dropdown-toggle::after {
    content: none;
}
/*---------------------*/
/* hover efect gagal*/
/*.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.btn-hover-alt {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}*/
/*----------------*/
.btn-min-block
{
    min-width: 100px;
    line-height: 100px;
}

